In [1239]:
import warnings
warnings.filterwarnings("ignore")

In [1240]:
import pandas as pd
import numpy as np

In [1241]:
train = pd.read_csv('../input/kaggledatafest/train.csv')
test = pd.read_csv('../input/kaggledatafest/test.csv')
sample = pd.read_csv('../input/kaggledatafest/sample_submission.csv')

In [1242]:
m = {'Semi-Premium': 50000, 'Premium':100000, 'Affordable': 10000, 'Cheap': 100}

In [1243]:
train['Price_Category_num'] = train['Price_Category'].map(m)

In [1244]:
# train['Brand_new'] = train['Title'].apply(lambda x: 1 if (('brand' in str(x).lower()) or ('new' in str(x).lower())) else 0)
# test['Brand_new'] = test['Title'].apply(lambda x: 1 if (('brand' in str(x).lower()) or ('new' in str(x).lower())) else 0)

In [1245]:
# for col in test.columns:
#     train[col] = train[col].apply(lambda x: f'empty_{col}' if str(x).strip() == '' else x)
#     test[col] = test[col].apply(lambda x: f'empty_{col}' if str(x).strip() == '' else x)

In [1246]:
test.head()

,Property_Id,Title,Label,Type,Location,Baths,Area,Purpose,Bedroom(s),Description,Main Features,Rooms,Business and Communication,Healthcare Recreational,Nearby Locations and Other Facilities,Other Facilities,Popular,Source,Time Stamp
0,685,Bungalow Is Available For Sale,"Gulshan-e-Iqbal Town, Karachi, Sindh",House,"Gulshan-e-Iqbal Town, Karachi, Sindh",-,16.8 Marla,For Sale,-,Ideal Location Well Maintained 2 Sided Corner ...,,,,,,,hot,Karachi-2-44,5/19/2019 1:19
1,1651,Brand New Double Unit House For Sale At Good L...,"Allama Iqbal Town - Neelam Block, Allama Iqbal...",House,"Allama Iqbal Town, Lahore, Punjab",5,5 Marla,For Sale,5,A nice and beautifully built 5 Marla House is ...,,"Bedrooms: 5 , Bathrooms: 5 , Drawing Room , D...",,,,,super hot,Lahore-1-6,3/31/2019 11:00
2,87,House For Sale At Prime Location In Lahore,"Sabzazar Scheme - Block A, Sabzazar Scheme, La...",House,"Sabzazar Scheme, Lahore, Punjab",6,12 Marla,For Sale,4,12 marla fully separate double storey house fo...,"Parking Spaces: 3 , Flooring , Waste Disposal...","Bedrooms: 5 , Bathrooms: 7 , Servant Quarters...","Broadband Internet Access , Satellite or Cabl...",,,Security Staff,super hot,Lahore-1-36,3/31/2019 20:59
3,3000,Sd House Is Available For Sale,"Falcon Complex New Malir, Malir, Karachi, Sindh",House,"Malir, Karachi, Sindh",4,14 Marla,For Sale,4,We Are Offering You A Chance To Get Your Hands...,"Built in year: 2018 , Parking Spaces: 1 , Dou...","Bedrooms: 4 , Bathrooms: 4 , Drawing Room , D...","Broadband Internet Access , Satellite or Cabl...","Lawn or Garden , Swimming Pool , Sauna , Jacu...","Nearby Schools , Nearby Hospitals , Nearby Sh...","Maintenance Staff , Security Staff , Faciliti...",hot,Karachi-2-37,5/19/2019 0:46
4,1597,10 Marla Brand New Double Unit House For Sale ...,"PWD Housing Scheme, Islamabad, Islamabad Capital",House,"PWD Housing Scheme, Islamabad, Islamabad Capital",4,10 Marla,For Sale,4,Brand New House04 Bedrooms + 04 Attached Bathr...,"Parking Spaces , Waste Disposal","Bedrooms: 04 , Bathrooms: 04 , Drawing Room ,...","Broadband Internet Access , Satellite or Cabl...",,"Nearby Schools , Nearby Hospitals , Nearby Sh...",,NaN,Islamabad-3-20,3/31/2019 23:31

In [1247]:
train.head()

,Property_Id,Title,Label,Type,Location,Baths,Area,Purpose,Bedroom(s),Description,...,Rooms,Business and Communication,Healthcare Recreational,Nearby Locations and Other Facilities,Other Facilities,Popular,Source,Time Stamp,Price_Category,Price_Category_num
0,381,Brand New 1 Kanal House For Sale In Bahria Tow...,"Bahria Town - Gulbahar Block, Bahria Town - Se...",House,"Bahria Town, Lahore, Punjab",6,1 Kanal,For Sale,5,Brand New 1 Kanal House For Sale In Bahria Tow...,...,"Bedrooms: 5 , Bathrooms: 7 , Servant Quarters...","Broadband Internet Access , Satellite or Cabl...","Lawn or Garden , Swimming Pool","Nearby Schools , Nearby Hospitals , Nearby Sh...","Maintenance Staff , Security Staff , Faciliti...",super hot,Lahore-1-10,3/31/2019 11:01,Semi-Premium,50000
1,1351,Brand New House Is Available For Sale In Emaar...,"Emaar Canyon Views, Islamabad, Islamabad Capital",House,"Emaar Canyon Views, Islamabad, Islamabad Capital",5,1.2 Kanal,For Sale,5,A gracefully built 600 Sq. yd House is availab...,...,"Bedrooms: 5 , Bathrooms: 5",,,,,hot,Islamabad-3-8,3/31/2019 23:18,Semi-Premium,50000
2,3119,1 Kanal House For Sale In Phase 3 DHA Defence ...,"DHA Phase 3 - Block Z, DHA Phase 3, DHA Defenc...",House,"DHA Defence, Lahore, Punjab",6,1 Kanal,For Sale,6,A nice 1 Kanal House is offered for sale. The ...,...,"Bedrooms: 6 , Bathrooms: 6 , Drawing Room , D...",,,,,super hot,Lahore-1-16,3/31/2019 11:35,Premium,100000
3,3564,Luxury Villa Is Available At Good Location,"Bahria Town - Precinct 27, Bahria Town Karachi...",House,"Bahria Town Karachi, Karachi, Sindh",3,9.4 Marla,For Sale,3,3 Bed Rooms Luxury Villa. Precinct # 27Villa S...,...,"Bedrooms: 3 , Bathrooms: 3 , Drawing Room , D...",,,,,NaN,Karachi-2-49,5/19/2019 1:23,Semi-Premium,50000
4,1518,5 Marla Double Storey Beautiful House For Sale...,"Bani Gala, Islamabad, Islamabad Capital",House,"Bani Gala, Islamabad, Islamabad Capital",3,5 Marla,For Sale,3,Newly build houseSolid constructedOwner buildH...,...,,,,,,hot,Islamabad-3-41,3/31/2019 23:55,Affordable,10000

In [1248]:
train['Price_Category'].value_counts()

Semi-Premium    1837
Premium         1057
Affordable       170
Cheap             18
Name: Price_Category, dtype: int64

In [1249]:
train.drop(['Title'],axis=1,inplace=True)
test.drop(['Title'],axis=1,inplace=True)

In [1250]:
# train[['L1', 'L2', 'L3', 'L4', 'L5']] = ''

In [1251]:
# for i,vals in enumerate(train['Label'].apply(lambda x: x.split(','))):
#     for j,val in enumerate(vals):
#         train.at[i, f'L{j+1}'] = val

In [1252]:
train.drop(['Label'],axis=1,inplace=True)
test.drop(['Label'],axis=1,inplace=True)

In [1253]:
train[['Town', 'City', 'Province']] = ''
test[['Town', 'City', 'Province']] = ''

In [1254]:
cols = ['Town', 'City', 'Province']
for i,vals in enumerate(train['Location'].apply(lambda x: x.split(','))):
    for j,val in enumerate(vals):
        v = cols[j]
        train.at[i, v] = val
        
cols = ['Town', 'City', 'Province']
for i,vals in enumerate(test['Location'].apply(lambda x: x.split(','))):
    for j,val in enumerate(vals):
        v = cols[j]
        test.at[i, v] = val

In [1255]:
# train[['City_Aff','City_Cheap','City_Premium','City_Sem']] = train[['City_Aff','City_Cheap','City_Premium','City_Sem']].apply(lambda x: x/np.sum(x), axis=1)
# test[['City_Aff','City_Cheap','City_Premium','City_Sem']] = test[['City_Aff','City_Cheap','City_Premium','City_Sem']].apply(lambda x: x/np.sum(x), axis=1)

In [1256]:
# m = train.groupby('Town')['Price_Category_num'].mean()

# train['Town_Avg'] = train['Town'].map(m)
# test['Town_Avg'] = test['Town'].map(m)

In [1257]:
train.drop('Price_Category_num',axis=1,inplace=True)

In [1258]:
train

,Property_Id,Type,Location,Baths,Area,Purpose,Bedroom(s),Description,Main Features,Rooms,...,Healthcare Recreational,Nearby Locations and Other Facilities,Other Facilities,Popular,Source,Time Stamp,Price_Category,Town,City,Province
0,381,House,"Bahria Town, Lahore, Punjab",6,1 Kanal,For Sale,5,Brand New 1 Kanal House For Sale In Bahria Tow...,"Built in year: 2018 , Parking Spaces: 4 , Dou...","Bedrooms: 5 , Bathrooms: 7 , Servant Quarters...",...,"Lawn or Garden , Swimming Pool","Nearby Schools , Nearby Hospitals , Nearby Sh...","Maintenance Staff , Security Staff , Faciliti...",super hot,Lahore-1-10,3/31/2019 11:01,Semi-Premium,Bahria Town,Lahore,Punjab
1,1351,House,"Emaar Canyon Views, Islamabad, Islamabad Capital",5,1.2 Kanal,For Sale,5,A gracefully built 600 Sq. yd House is availab...,,"Bedrooms: 5 , Bathrooms: 5",...,,,,hot,Islamabad-3-8,3/31/2019 23:18,Semi-Premium,Emaar Canyon Views,Islamabad,Islamabad Capital
2,3119,House,"DHA Defence, Lahore, Punjab",6,1 Kanal,For Sale,6,A nice 1 Kanal House is offered for sale. The ...,,"Bedrooms: 6 , Bathrooms: 6 , Drawing Room , D...",...,,,,super hot,Lahore-1-16,3/31/2019 11:35,Premium,DHA Defence,Lahore,Punjab
3,3564,House,"Bahria Town Karachi, Karachi, Sindh",3,9.4 Marla,For Sale,3,3 Bed Rooms Luxury Villa. Precinct # 27Villa S...,,"Bedrooms: 3 , Bathrooms: 3 , Drawing Room , D...",...,,,,NaN,Karachi-2-49,5/19/2019 1:23,Semi-Premium,Bahria Town Karachi,Karachi,Sindh
4,1518,House,"Bani Gala, Islamabad, Islamabad Capital",3,5 Marla,For Sale,3,Newly build houseSolid constructedOwner buildH...,,,...,,,,hot,Islamabad-3-41,3/31/2019 23:55,Affordable,Bani Gala,Islamabad,Islamabad Capital
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3077,2036,House,"I-8, Islamabad, Islamabad Capital",10,12.4 Marla,For Sale,10,Triple Storey 35x80 New House For Sale In I-8 ...,,"Bedrooms: 10 , Bathrooms: 10 , Drawing Room ,...",...,,,,NaN,Islamabad-3-29,3/31/2019 23:42,Premium,I-8,Islamabad,Islamabad Capital
3078,193,House,"Al Jalil Garden, Lahore, Punjab",3,5 Marla,For Sale,3,5 Marla Model House available in Al Jalil Gard...,,"Bedrooms: 3 , Bathrooms: 3",...,,,,super hot,Lahore-1-35,3/31/2019 20:59,Affordable,Al Jalil Garden,Lahore,Punjab
3079,204,House,"DHA Defence, Islamabad, Islamabad Capital",2,5 Marla,For Sale,2,Pioneers in the art of master-planned communit...,"Built in year: 2016 , Parking Spaces: 1 , Dou...","Bedrooms: 2 , Bathrooms: 2 , Kitchens: 1 , St...",...,Other Healthcare and Recreation Facilities,"Nearby Schools , Nearby Hospitals , Nearby Sh...","Maintenance Staff , Security Staff , Faciliti...",NaN,Islamabad-3-36,3/31/2019 23:50,Cheap,DHA Defence,Islamabad,Islamabad Capital
3080,1938,House,"Bahria Town, Islamabad, Islamabad Capital",6,10 Marla,For Sale,5,Luxury interior Excellent Elevation Bahria enc...,"Built in year: 2018 , Double Glazed Windows ,...","Bedrooms: 5 , Bathrooms: 6 , Servant Quarters...",...,Lawn or Garden,"Nearby Schools , Nearby Hospitals , Nearby Sh...","Maintenance Staff , Security Staff",super hot,Islamabad-3-7,3/31/2019 23:17,Semi-Premium,Bahria Town,Islamabad,Islamabad Capital
3081,818,House,"Bhara kahu, Islamabad, Islamabad Capital",3,5 Marla,For Sale,2,5 Marla Corner Brand new house for sale in Gre...,,,...,,,,hot,Islamabad-3-48,04/01/2019 00:01,Affordable,Bhara kahu,Islamabad,Islamabad Capital

In [1259]:
train.drop(['Location'],axis=1,inplace=True)
test.drop(['Location'],axis=1,inplace=True)

In [1260]:
for i, row in enumerate(train['Area'].iteritems()):
    if 'Marla' in str(row[1]):
        val = float(row[1].split(' ')[0].replace(',','')) / 20
        train.at[i, 'Area'] = val
        
        
for i, row in enumerate(test['Area'].iteritems()):
    if 'Marla' in str(row[1]):
        val = float(row[1].split(' ')[0].replace(',','')) / 20
        test.at[i, 'Area'] = val

In [1261]:
train['Area'] = train['Area'].apply(lambda x: float(x.split(' ')[0])*5445 if type(x)==str else x*5445)
test['Area'] = test['Area'].apply(lambda x: float(x.replace(',','').split(' ')[0])*5445 if type(x)==str else x*5445)

In [1262]:
train.drop(['Purpose'],axis=1,inplace=True)
test.drop(['Purpose'],axis=1,inplace=True)

In [1263]:
train.drop(['Description'],axis=1,inplace=True)
test.drop(['Description'],axis=1,inplace=True)

In [1264]:
# for i, row in enumerate(test['Main Features'].iteritems()):
#     val = str(row[1])
#     val = val.split(',')
#     for v in val:
#         try:
#             l = v.split(':')
#             col, num = l[0], l[1]
#             col = col.strip()
#             num = int(num)
#             test.at[i,col] = num
#             break
#         except:
#             pass
        
# for i, row in enumerate(train['Main Features'].iteritems()):
#     val = str(row[1])
#     val = val.split(',')
#     for v in val:
#         try:
#             l = v.split(':')
#             col, num = l[0], l[1]
#             col = col.strip()
#             num = int(num)
#             train.at[i,col] = num
#             break
#         except:
#             pass

In [1265]:
# for now only
train.drop(['Main Features'],axis=1,inplace=True)
test.drop(['Main Features'],axis=1,inplace=True)

In [1266]:
for i, row in enumerate(train['Rooms'].iteritems()):
    val = str(row[1])
    val = val.split(',')
    for v in val:
        try:
            l = v.split(':')
            col, num = l[0], l[1]
            col = col.strip()
            num = int(num)
            train.at[i,col] = num
        except:
            pass

In [1267]:
for i, row in enumerate(test['Rooms'].iteritems()):
    val = str(row[1])
    val = val.split(',')
    for v in val:
        try:
            l = v.split(':')
            col, num = l[0], l[1]
            col = col.strip()
            num = int(num)
            test.at[i,col] = num
        except:
            pass

In [1268]:
train[['Bedrooms', 'Bathrooms', 'Servant Quarters', 'Kitchens', 'Store Rooms']] = train[['Bedrooms', 'Bathrooms', 'Servant Quarters', 'Kitchens', 'Store Rooms']].fillna(0)
test[['Bedrooms', 'Bathrooms', 'Servant Quarters', 'Kitchens', 'Store Rooms']] = test[['Bedrooms', 'Bathrooms', 'Servant Quarters', 'Kitchens', 'Store Rooms']].fillna(0)

In [1269]:
train.drop(['Rooms'],axis=1,inplace=True)
test.drop(['Rooms'],axis=1,inplace=True)

In [1270]:
for i, row in enumerate(train['Business and Communication'].iteritems()):
    val = str(row[1])
    val = val.split(',')
    for v in val:
        try:
            col = v.strip()
            num = 1
            train.at[i,col] = num
        except:
            pass

In [1271]:
for i, row in enumerate(test['Business and Communication'].iteritems()):
    val = str(row[1])
    val = val.split(',')
    for v in val:
        try:
            col = v.strip()
            if col == '': continue
            num = 1
            test.at[i,col] = num
        except:
            pass

In [1272]:
train.drop(['Business and Communication'],axis=1,inplace=True)
test.drop(['Business and Communication'],axis=1,inplace=True)

In [1273]:
# for i, row in enumerate(train['Healthcare Recreational'].iteritems()):
#     val = str(row[1])
#     val = val.split(',')
#     for v in val:
#         try:
#             col = v.strip()
#             if col == '': continue
#             num = 1
#             train.at[i,col] = num
#         except:
#             pass

# for i, row in enumerate(test['Healthcare Recreational'].iteritems()):
#     val = str(row[1])
#     val = val.split(',')
#     for v in val:
#         try:
#             col = v.strip()
#             if col == '': continue
#             num = 1
#             test.at[i,col] = num
#         except:
#             pass

In [1274]:
#for now
train.drop(['Healthcare Recreational'],axis=1,inplace=True)
test.drop(['Healthcare Recreational'],axis=1,inplace=True)

In [1275]:
for i, row in enumerate(train['Nearby Locations and Other Facilities'].iteritems()):
    val = str(row[1])
    val = val.split(',')
    for v in val:
        try:
            col = v.strip()
            num = 1
            train.at[i,col] = num
        except:
            pass
        
for i, row in enumerate(test['Nearby Locations and Other Facilities'].iteritems()):
    val = str(row[1])
    val = val.split(',')
    for v in val:
        try:
            col = v.strip()
            num = 1
            test.at[i,col] = num
        except:
            pass

In [1276]:
train.drop(['Nearby Locations and Other Facilities'],axis=1,inplace=True)
test.drop(['Nearby Locations and Other Facilities'],axis=1,inplace=True)

In [1277]:
# for i, row in enumerate(train['Other Facilities'].iteritems()):
#     val = str(row[1])
#     val = val.split(',')
#     for v in val:
#         try:
#             col = v.strip()
#             num = 1
#             train.at[i,col] = num
#         except:
#             pass
        
# for i, row in enumerate(test['Other Facilities'].iteritems()):
#     val = str(row[1])
#     val = val.split(',')
#     for v in val:
#         try:
#             col = v.strip()
#             num = 1
#             test.at[i,col] = num
#         except:
#             pass

In [1278]:
train.drop(['Other Facilities'],axis=1,inplace=True)
test.drop(['Other Facilities'],axis=1,inplace=True)

In [1279]:
train['Time Stamp'] = pd.to_datetime(train['Time Stamp'])
test['Time Stamp'] = pd.to_datetime(test['Time Stamp'])

In [1280]:
train['Month'] = train['Time Stamp'].dt.month
# train['Day'] = train['Time Stamp'].dt.day

test['Month'] = test['Time Stamp'].dt.month
# test['Day'] = test['Time Stamp'].dt.day

# train['Hour'] = train['Time Stamp'].dt.hour
# test['Hour'] = test['Time Stamp'].dt.hour

In [1281]:
# for now
train.drop(['Time Stamp'],axis=1,inplace=True)
test.drop(['Time Stamp'],axis=1,inplace=True)

In [1282]:
train.drop(['Type'],axis=1,inplace=True)
test.drop(['Type'],axis=1,inplace=True)

In [1283]:
train.drop(['Source'],axis=1,inplace=True)
test.drop(['Source'],axis=1,inplace=True)

In [1284]:
train.drop(['Property_Id'],axis=1,inplace=True)
test.drop(['Property_Id'],axis=1,inplace=True)

In [1285]:
train.drop(['Bedroom(s)'],axis=1,inplace=True)
test.drop(['Bedroom(s)'],axis=1,inplace=True)

In [1286]:
train.drop(['Baths'],axis=1,inplace=True)
test.drop(['Baths'],axis=1,inplace=True)

In [1287]:
cols_to_rem = list(test.columns)

In [1288]:
cols_to_rem.append('Price_Category')

In [1289]:
train = train[cols_to_rem]

In [1290]:
train.isna().sum()

Area                                              0
Popular                                         984
Town                                              0
City                                              0
Province                                          0
Bedrooms                                          0
Bathrooms                                         0
Kitchens                                          0
Servant Quarters                                  0
Store Rooms                                       0
Broadband Internet Access                      1314
Satellite or Cable TV Ready                    1344
Intercom                                       1635
Other Business and Communication Facilities    2041
                                               1621
Nearby Schools                                 1295
Nearby Hospitals                               1303
Nearby Shopping Malls                          1327
Nearby Restaurants                             1329
Distance From Airport (kms)                    1488
Nearby Public Transport Service                1389
Other Nearby Places                            1691
Month                                             0
Price_Category                                    0
dtype: int64

In [1291]:
test.isna().sum()

Area                                             0
Popular                                        176
Town                                             0
City                                             0
Province                                         0
Bedrooms                                         0
Bathrooms                                        0
Kitchens                                         0
Servant Quarters                                 0
Store Rooms                                      0
Broadband Internet Access                      229
Satellite or Cable TV Ready                    234
Intercom                                       290
Other Business and Communication Facilities    359
                                               324
Nearby Schools                                 230
Nearby Hospitals                               231
Nearby Shopping Malls                          234
Nearby Restaurants                             236
Distance From Airport (kms)                    264
Nearby Public Transport Service                249
Other Nearby Places                            295
Month                                            0
dtype: int64

In [1292]:
train['Popular'] = train['Popular'].fillna('-999')
test['Popular'] = test['Popular'].fillna('-999')

In [1293]:
train.drop(['Province'],axis=1,inplace=True)
test.drop(['Province'],axis=1,inplace=True)

In [1294]:
train.drop([''],axis=1,inplace=True)
test.drop([''],axis=1,inplace=True)

In [1295]:
# train['Area_Bin'] = train['Area'].apply(lambda x: 0 if x < 8 else 1)
# test['Area_Bin'] = test['Area'].apply(lambda x: 0 if x < 8 else 1)

In [1296]:
# train['Area_Bin'].value_counts()

In [1297]:
train.fillna(0,inplace=True)
test.fillna(0,inplace=True)

In [1298]:
# train['AxA'] = train['Area'] * train['Bathrooms']
# test['AxA'] = test['Area'] * test['Bathrooms']

In [1299]:
d = dict(train.groupby(['Bedrooms','Bathrooms'])['Area'].mean())

In [1300]:
d

{(0.0, 0.0): 3744.606550218341,
 (0.0, 5.0): 2178.0,
 (0.0, 14.0): 13068.0,
 (2.0, 0.0): 1322.357142857143,
 (2.0, 2.0): 1532.7674999999997,
 (2.0, 3.0): 1400.142857142857,
 (2.0, 4.0): 1361.25,
 (3.0, 0.0): 1945.2701612903227,
 (3.0, 2.0): 1270.5,
 (3.0, 3.0): 2046.1856249999996,
 (3.0, 4.0): 1711.5287946428573,
 (3.0, 5.0): 1452.8250000000003,
 (3.0, 6.0): 1361.25,
 (4.0, 0.0): 3439.425,
 (4.0, 2.0): 1585.8562499999998,
 (4.0, 3.0): 1279.575,
 (4.0, 4.0): 2672.5359375000003,
 (4.0, 5.0): 2557.417500000001,
 (4.0, 6.0): 2511.182142857143,
 (4.0, 7.0): 2722.5,
 (4.0, 41.0): 3267.0,
 (5.0, 0.0): 4964.723076923077,
 (5.0, 3.0): 3539.25,
 (5.0, 4.0): 4099.307142857143,
 (5.0, 5.0): 4453.770283018868,
 (5.0, 6.0): 4561.387851782363,
 (5.0, 7.0): 3264.8506578947367,
 (5.0, 8.0): 5445.0,
 (6.0, 0.0): 5022.211764705882,
 (6.0, 5.0): 3303.2999999999997,
 (6.0, 6.0): 5026.1383333333315,
 (6.0, 7.0): 5966.726886792453,
 (6.0, 8.0): 5084.26875,
 (6.0, 9.0): 4029.3,
 (6.0, 10.0): 5445.0,
 (7.0, 0.0): 5662.8,
 (7.0, 3.0): 1306.8,
 (7.0, 6.0): 10890.0,
 (7.0, 7.0): 5590.512931034483,
 (7.0, 8.0): 7439.08,
 (7.0, 9.0): 4560.1875,
 (7.0, 10.0): 7623.0,
 (8.0, 3.0): 5445.0,
 (8.0, 4.0): 1306.8,
 (8.0, 7.0): 3267.0,
 (8.0, 8.0): 6304.221000000001,
 (8.0, 9.0): 7934.142857142857,
 (8.0, 10.0): 5907.825,
 (8.0, 12.0): 10890.0,
 (9.0, 0.0): 2196.15,
 (9.0, 9.0): 6160.857352941176,
 (9.0, 10.0): 7963.3125,
 (9.0, 11.0): 6261.75,
 (9.0, 12.0): 3947.625,
 (10.0, 0.0): 8712.0,
 (10.0, 10.0): 3929.4750000000004,
 (10.0, 12.0): 10890.0,
 (10.0, 14.0): 5445.0,
 (11.0, 12.0): 6534.0,
 (12.0, 12.0): 9801.0,
 (13.0, 13.0): 10890.0,
 (13.0, 15.0): 27225.0,
 (14.0, 14.0): 21780.0,
 (15.0, 18.0): 10890.0}

In [1301]:
# train['Bed_Bath_Area'] = train.apply(lambda x: d[(x['Bedrooms'], x['Bathrooms'])] if ((x['Bedrooms'], x['Bathrooms']) in d.keys()) else 0, axis=1)

# test['Bed_Bath_Area'] = test.apply(lambda x: d[(x['Bedrooms'], x['Bathrooms'])] if ((x['Bedrooms'], x['Bathrooms']) in d.keys()) else 0, axis=1)

In [1302]:
m = train.groupby(['City', 'Popular'])['Price_Category'].count()

In [1303]:
m = dict(m)

In [1304]:
m

{(' Islamabad', '-999'): 336,
 (' Islamabad', 'hot'): 627,
 (' Islamabad', 'super hot'): 103,
 (' Karachi', '-999'): 301,
 (' Karachi', 'hot'): 562,
 (' Karachi', 'super hot'): 79,
 (' Lahore', '-999'): 347,
 (' Lahore', 'hot'): 374,
 (' Lahore', 'super hot'): 353}

In [1305]:
# train['City_Aff'] = train.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)
# train['City_Cheap'] = train.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)
# train['City_Premium'] = train.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)
# train['City_Sem'] = train.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)

# test['City_Aff'] = test.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)
# test['City_Cheap'] = test.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)
# test['City_Premium'] = test.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)
# test['City_Sem'] = test.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)

In [1306]:
# train['x'] = train['Area'] / 4
# train['y'] = train['Area'] - (train['Area'] / 4)

# test['x'] = test['Area'] / 4
# test['y'] = test['Area'] - (test['Area'] / 4)

In [1307]:
train.drop(['Other Business and Communication Facilities'],axis=1,inplace=True)
test.drop(['Other Business and Communication Facilities'],axis=1,inplace=True)

In [1308]:
train

,Area,Popular,Town,City,Bedrooms,Bathrooms,Kitchens,Servant Quarters,Store Rooms,Broadband Internet Access,...,Intercom,Nearby Schools,Nearby Hospitals,Nearby Shopping Malls,Nearby Restaurants,Distance From Airport (kms),Nearby Public Transport Service,Other Nearby Places,Month,Price_Category
0,5445.00,super hot,Bahria Town,Lahore,5.0,7.0,2.0,1.0,2.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,3,Semi-Premium
1,6534.00,hot,Emaar Canyon Views,Islamabad,5.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,Semi-Premium
2,5445.00,super hot,DHA Defence,Lahore,6.0,6.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,Premium
3,2559.15,-999,Bahria Town Karachi,Karachi,3.0,3.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,Semi-Premium
4,1361.25,hot,Bani Gala,Islamabad,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,Affordable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3077,3375.90,-999,I-8,Islamabad,10.0,10.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,Premium
3078,1361.25,super hot,Al Jalil Garden,Lahore,3.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,Affordable
3079,1361.25,-999,DHA Defence,Islamabad,2.0,2.0,1.0,0.0,0.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3,Cheap
3080,2722.50,super hot,Bahria Town,Islamabad,5.0,6.0,2.0,1.0,0.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,3,Semi-Premium
3081,1361.25,hot,Bhara kahu,Islamabad,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,Affordable

In [1309]:
train.to_csv('train_clean.csv', index = False)
test.to_csv('test_clean.csv', index = False)

In [1310]:
from category_encoders import TargetEncoder, MEstimateEncoder, JamesSteinEncoder, LeaveOneOutEncoder
from sklearn.preprocessing import LabelEncoder

In [1311]:
le = LabelEncoder()
train['Price_Category'] = le.fit_transform(train['Price_Category'])

In [1312]:
te = JamesSteinEncoder()

In [1313]:
cols = train.columns[train.dtypes=='object']

In [1314]:
cols

Index(['Popular', 'Town', 'City'], dtype='object')

In [1315]:
train[cols] = te.fit_transform(train[cols], train['Price_Category'])

In [1316]:
test[cols] = te.transform(test[cols])

In [1317]:
train

,Area,Popular,Town,City,Bedrooms,Bathrooms,Kitchens,Servant Quarters,Store Rooms,Broadband Internet Access,...,Intercom,Nearby Schools,Nearby Hospitals,Nearby Shopping Malls,Nearby Restaurants,Distance From Airport (kms),Nearby Public Transport Service,Other Nearby Places,Month,Price_Category
0,5445.00,2.476636,2.740114,2.585661,5.0,7.0,2.0,1.0,2.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,3,3
1,6534.00,2.451056,3.000000,2.414634,5.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,3
2,5445.00,2.476636,2.338490,2.585661,6.0,6.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2
3,2559.15,2.527439,2.566526,2.433121,3.0,3.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,3
4,1361.25,2.451056,2.398006,2.414634,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3077,3375.90,2.527439,2.103018,2.414634,10.0,10.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2
3078,1361.25,2.476636,0.000000,2.585661,3.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
3079,1361.25,2.527439,2.338490,2.414634,2.0,2.0,1.0,0.0,0.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3,1
3080,2722.50,2.476636,2.740114,2.414634,5.0,6.0,2.0,1.0,0.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,3,3
3081,1361.25,2.451056,2.146791,2.414634,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,0

In [1318]:
X = train.drop(['Price_Category'], axis=1)
y = train['Price_Category'].copy()

In [1319]:
from sklearn.metrics import f1_score
from sklearn.model_selection import StratifiedKFold
from imblearn.over_sampling import SMOTE

In [1320]:
def Generate_Data(X, y):
    oversample = SMOTE()
    X, y = oversample.fit_resample(X, y)
    return X, y

In [1321]:
def cross_val(X, y, model, metric = f1_score, folds = 10):
    scores = []
    for tr_in, val_in in StratifiedKFold(n_splits = folds).split(X, y):
        model_fold = model
        
        X_train, y_train, X_val, y_val = X.iloc[tr_in,:], y[tr_in], X.iloc[val_in,:], y[val_in]
#         X_train, y_train = Generate_Data(X_train, y_train)
        
        model_fold.fit(X_train, y_train)
        y_hat = model.predict(X_val)
        scores.append(metric(y_val,y_hat, average='macro'))
    return np.mean(scores)

In [1322]:
from lightgbm import LGBMClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier

In [1323]:
# X.drop(ld,axis=1,inplace=True)
# test.drop(ld,axis=1,inplace=True)

In [1324]:
y.value_counts()

3    1837
2    1057
0     170
1      18
Name: Price_Category, dtype: int64

In [1325]:
from collections import Counter

In [1326]:
counter = Counter(y)
print(counter)

Counter({3: 1837, 2: 1057, 0: 170, 1: 18})

In [1327]:
sum_ = np.sum(list(counter.values()))

In [1328]:
weights = {0: 1 - (counter[0] / sum_), 1: 1 - (counter[1] / sum_), 2: 1 - (counter[2] / sum_),
          3: 1 - (counter[3] / sum_)}

In [1329]:
weights

{0: 0.9448410123296561,
 1: 0.9941596365996106,
 2: 0.6570408825438028,
 3: 0.4039584685269305}

In [1330]:
lgbm = LGBMClassifier(n_jobs=-1)
rf = RandomForestClassifier(n_jobs=-1,class_weight=weights)
xgb = XGBClassifier(n_estimators = 100, n_jobs=-1, verbosity = 0,sample_weight=weights)
cat = CatBoostClassifier(verbose=0, class_weights=weights)
extra = ExtraTreesClassifier(n_jobs=-1, class_weight=weights)

In [1331]:
# best_sc = 0.77

# for c1 in X.columns:
#     lgbm = LGBMClassifier(n_jobs=-1)
#     cat = ExtraTreesClassifier(n_jobs=-1)
#     xgb = XGBClassifier(n_jobs=-1, verbosity = 0)

#     X_ = X.copy()
#     X_.drop(c1, axis=1, inplace=True)
#     score = cross_val_ensemble(X_, y, [lgbm, cat, xgb], folds=10)
#     if score > best_sc:
#         print(f'{c1} = {score}')
#     #                 best_sc = score

In [1332]:
# best_sc = 0.77

# for c1 in X.columns:
#     for c2 in X.columns:
#         lgbm = LGBMClassifier(n_jobs=-1)
#         cat = ExtraTreesClassifier(n_jobs=-1)
#         xgb = XGBClassifier(n_jobs=-1, verbosity = 0)

#         X_ = X.copy()
#         X_['nf'] = (X_[c1] + X_[c2]) 
#         score = cross_val_ensemble(X_, y, [lgbm, cat, xgb], folds=10)
#         if score > best_sc:
#             print(f'{c1} + {c2} = {score}')
#         #                 best_sc = score

In [1333]:
train

,Area,Popular,Town,City,Bedrooms,Bathrooms,Kitchens,Servant Quarters,Store Rooms,Broadband Internet Access,...,Intercom,Nearby Schools,Nearby Hospitals,Nearby Shopping Malls,Nearby Restaurants,Distance From Airport (kms),Nearby Public Transport Service,Other Nearby Places,Month,Price_Category
0,5445.00,2.476636,2.740114,2.585661,5.0,7.0,2.0,1.0,2.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,3,3
1,6534.00,2.451056,3.000000,2.414634,5.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,3
2,5445.00,2.476636,2.338490,2.585661,6.0,6.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2
3,2559.15,2.527439,2.566526,2.433121,3.0,3.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,3
4,1361.25,2.451056,2.398006,2.414634,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3077,3375.90,2.527439,2.103018,2.414634,10.0,10.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2
3078,1361.25,2.476636,0.000000,2.585661,3.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
3079,1361.25,2.527439,2.338490,2.414634,2.0,2.0,1.0,0.0,0.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3,1
3080,2722.50,2.476636,2.740114,2.414634,5.0,6.0,2.0,1.0,0.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,3,3
3081,1361.25,2.451056,2.146791,2.414634,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,0

In [1334]:
cross_val(X, y, lgbm)

0.7531827966076265

In [1335]:
cross_val(X, y, rf)

0.7162373978425305

In [1336]:
cross_val(X, y, xgb)

0.7580910076506661

In [1337]:
cross_val(X, y, cat)

0.7249064705442181

In [1338]:
cross_val(X, y, extra)

0.7458102274665169

In [1356]:
def mode(s):
    lst = [s[1], s[2], s[3]]
    return max(set(lst), key=lst.count)

In [1360]:
def cross_val_ensemble(X, y, models, metric = f1_score, folds = 10):
    scores = []
    for tr_in, val_in in StratifiedKFold(n_splits = folds).split(X, y):
        model_1, model_2, model_3 = models[0], models[1], models[2]
        X_train, y_train, X_val, y_val = X.iloc[tr_in,:], y[tr_in], X.iloc[val_in,:], y[val_in]
        
        model_1.fit(X_train, y_train)
        model_2.fit(X_train, y_train)
        model_3.fit(X_train, y_train)
        
        preds = pd.concat([pd.DataFrame(model_1.predict(X_val)), pd.DataFrame(model_2.predict(X_val)), 
                           pd.DataFrame(model_3.predict(X_val))],axis=1)
        preds.columns = [1,2,3]
        
        y_hat = preds.apply(mode, axis=1)
        
        scores.append(metric(y_val,y_hat, average='macro'))
    return np.mean(scores)

In [1361]:
lgbm = LGBMClassifier(n_jobs=-1)
rf = RandomForestClassifier(n_jobs=-1,class_weight=weights)
xgb = XGBClassifier(n_estimators = 100, n_jobs=-1, verbosity = 0,sample_weight=weights)
cat = CatBoostClassifier(verbose=0, class_weights=weights)
extra = ExtraTreesClassifier(n_jobs=-1, class_weight=weights)

In [1363]:
cross_val_ensemble(X, y, [lgbm, extra, xgb])

0.725066117434677

In [1343]:
lgbm = LGBMClassifier(n_jobs=-1)
rf = RandomForestClassifier(n_jobs=-1,class_weight=weights)
xgb = XGBClassifier(n_estimators = 100, n_jobs=-1, verbosity = 0,sample_weight=weights)
cat = CatBoostClassifier(verbose=0, class_weights=weights)
extra = ExtraTreesClassifier(n_jobs=-1, class_weight=weights)

In [1344]:
# model.fit(X, y)
lgbm.fit(X, y)
extra.fit(X, y)
xgb.fit(X, y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=-1, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1,
              sample_weight={0: 0.9448410123296561, 1: 0.9941596365996106,
                             2: 0.6570408825438028, 3: 0.4039584685269305},
              scale_pos_weight=None, subsample=1, tree_method='exact',
              validate_parameters=1, verbosity=0)

In [1345]:
imps = pd.DataFrame()
imps['cols'] = X.columns
imps['importance1'] = xgb.feature_importances_
imps['importance2'] = extra.feature_importances_
imps['importance3'] = lgbm.feature_importances_

In [1346]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
imps['importance'] = np.nan
imps['importance'] = ss.fit_transform(imps[['importance1','importance2','importance3']])

In [1347]:
imps = imps.sort_values('importance', ascending = False).reset_index(drop = True)

In [1348]:
imps

,cols,importance1,importance2,importance3,importance4,importance5,importance
0,Area,0.249487,0.264894,2533,30.630209,0.347326,3.677972
1,Town,0.146068,0.296893,3137,22.227231,0.284946,1.771215
2,City,0.081474,0.028833,487,7.435750,0.026883,0.580299
3,Month,0.068241,0.026810,388,7.227068,0.024121,0.336321
4,Nearby Restaurants,0.047839,0.004842,58,0.410402,0.003930,-0.039848
5,Store Rooms,0.038037,0.034437,372,2.606311,0.025165,-0.220555
6,Bedrooms,0.037376,0.086306,977,5.876720,0.071687,-0.232748
7,Servant Quarters,0.035283,0.050631,373,3.298540,0.042454,-0.271347
8,Nearby Schools,0.034476,0.003786,95,0.302438,0.003480,-0.286226
9,Nearby Hospitals,0.030641,0.004374,41,0.201236,0.004744,-0.356932
10,Nearby Shopping Malls,0.029947,0.006088,80,0.600634,0.005639,-0.369711
11,Kitchens,0.027468,0.034152,582,3.367582,0.028701,-0.415431
12,Nearby Public Transport Service,0.024392,0.006039,98,0.902039,0.005273,-0.472143
13,Bathrooms,0.024256,0.058699,766,4.177932,0.049378,-0.474648
14,Broadband Internet Access,0.023220,0.010332,213,0.840997,0.008396,-0.493743
15,Other Nearby Places,0.021878,0.013070,267,1.359439,0.009031,-0.518481
16,Distance From Airport (kms),0.021062,0.011331,180,1.181766,0.009124,-0.533530
17,Popular,0.020976,0.033686,804,4.479993,0.029973,-0.535126
18,Intercom,0.020216,0.014874,301,1.981357,0.011375,-0.549123
19,Satellite or Cable TV Ready,0.017662,0.009919,224,0.892356,0.008375,-0.596214

In [1349]:
ld = list(imps.loc[25:,'cols'].values)

In [1350]:
preds = pd.concat([pd.DataFrame(xgb.predict(test)), pd.DataFrame(extra.predict(test)), 
                           pd.DataFrame(lgbm.predict(test))],axis=1)
preds.columns = [1,2,3]

y_hat = preds.apply(mode, axis=1)

sample['Price_Category'] = le.inverse_transform(y_hat)

In [1351]:
sample['Price_Category'].value_counts()

Semi-Premium    309
Premium         207
Affordable       27
Cheap             2
Name: Price_Category, dtype: int64

In [1352]:
sample

     Property_Id Price_Category
0            685        Premium
1           1651   Semi-Premium
2             87   Semi-Premium
3           3000        Premium
4           1597   Semi-Premium
..           ...            ...
540          300   Semi-Premium
541         1934   Semi-Premium
542         2306   Semi-Premium
543         2097   Semi-Premium
544         2562   Semi-Premium

[545 rows x 2 columns]

In [1353]:
sample.to_csv('submission.csv', index = False)

In [1354]:
test

,Area,Popular,Town,City,Bedrooms,Bathrooms,Kitchens,Servant Quarters,Store Rooms,Broadband Internet Access,Satellite or Cable TV Ready,Intercom,Nearby Schools,Nearby Hospitals,Nearby Shopping Malls,Nearby Restaurants,Distance From Airport (kms),Nearby Public Transport Service,Other Nearby Places,Month
0,4573.80,2.451056,2.423419,2.433121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
1,1361.25,2.476636,2.560111,2.585661,5.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
2,3267.00,2.476636,3.000000,2.585661,5.0,7.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
3,3811.50,2.451056,2.124339,2.433121,4.0,4.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,5
4,2722.50,2.527439,3.000000,2.414634,4.0,4.0,2.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,2722.50,2.451056,2.338490,2.585661,4.0,5.0,2.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3
541,1361.25,2.476636,3.000000,2.585661,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
542,1633.50,2.527439,2.566526,2.433121,3.0,3.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,5
543,2722.50,2.451056,2.960834,2.585661,4.0,5.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3
544,2722.50,2.476636,2.338490,2.585661,4.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3